
<app-header></app-header> 
<div class="profile-container">
  <h2>Profil utilisateur</h2>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" placeholder="Username">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="email@email.fr">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Mot de passe">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Sauvegarder</button>
  </form>
  <button mat-button color="warn" (click)="onLogout()">Se déconnecter</button>
</div>
