
<div>
    <button mat-button (click)="router.navigate(['/post'])">Retour</button>
    <h2>{{ posts?.title }}</h2>
    <p>Date: {{ posts?.date }}</p>
    <p>Auteur: {{ posts?.userId }}</p>
    <p>Thème: {{ subjectMap.get(posts?.themeId || 0) }}</p>
    <p>Content: {{ posts?.description }}</p>
  
    <h3>Commentaires</h3>
  <div *ngFor="let comment of comments">
    <p><strong>{{ getUsername(comment.userId) }}</strong></p>
    <p>{{ comment.description }}</p>
  </div>
  
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Écrivez ici votre commentaire</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit" aria-label="Envoyer">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
  