
<app-header></app-header>     

<mat-card-title>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button routerLink="/post">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</mat-card-title>
<mat-card-content *ngIf="postForm">
  <form class="form-article" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <mat-label>Créer un nouvel article</mat-label>
    <mat-form-field>
      <mat-label>Sélectionner un thème</mat-label>
      <mat-select ngDefaultControl formControlName="themeId">
        <mat-option *ngFor="let theme of subjects$ | async" [value]="theme.id">
          {{ theme.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Titre de l’article</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save
    </button>
  </form>
</mat-card-content>


<!-- [disabled]="postForm.invalid" -->

       